.container-cardetail {
    width: 1500px;
    height: 900px;
    display: inline-flex;
    justify-content: space-around;
    margin: 40px;
}

.container-img-cardetail {
    width: 700px;
    height: 700px;
    margin: 40px;
}

.container-img-cardetail img {
    width: 100%;
    height: 100%;
}

.container-infoTotal {
    background: white;
    width: 800px;
    height: 500px;
    padding: 10px;
    margin: 40px;
}

.container-p1 {
    display: inline-flex;
    align-items: left;
    margin: 20px;

}

.container-p1 h1 {
    color: black;
    font-size: 40px;
    margin: 0px 0px 0px 30px;
}

.container-p1 h2 {
    color: gray;
    font-size: 40px;
}

.container-p1 h3 {
    color: black;
    font-size: 40px;
}

.container-btn-comprar {
    display: flex;
    justify-content: center;
}

.container-btn-comprar button {
    margin: 20px;
    cursor: pointer;
    width: 500px;
    height: 50px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 30px;
    background: #6cc530;
    border: #ffffff solid 1px;

}

.container-btn-comprar button:hover {
    background-color: #fcfcfc;
    color: #6cc530;
    transition: 0.25s all ease;
    border: #6cc530 solid 3px;
}

.container-p2 {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.container-p2 p {
    color: black;
    font-size: 15px;
    align-items: center;
    text-align: justify;
}

.container-p3 {
    display: inline-flex;
    justify-content: space-around;
    margin: 30px 0px 30px 10px;
}

.container-p3 h1 {
    font-size: 18px;
}

.container-p3 h2 {
    font-weight: 200;
    font-size: 20px;
    margin: 0px 0px 0px 20px;
}

.container-p4 {
    display: inline-flex;
}

.container-p4 h3 {
    color: black;
    font-size: 40px;
    margin: 0px 0px 0px 240px;
}

.container-extra {
    display: flex;
    justify-content: center;
}

.container-extra button {
    width: 400px;
    height: 50px;
    margin: 200px 0px 0px 0px;
}

.container-extra button  {
    cursor: pointer;
    border-radius: 50px;
    color: #E3CD96;
    font-size: 30px;
    background: #4D4747;
    border: #4D4747 solid 1px;

}

.container-extra button:hover {
    background-color: #E3CD96;
    color: #4D4747;
    transition: 0.25s all ease;
}